name: Build

on:
  push:
  workflow_dispatch:

jobs:
  ubuntu:
    # Pinned to ubuntu-20.04 rather than ubuntu-latest for node v14
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Run examples
        env:
          TERM: xterm-color
        run: make consumer-feature-examples

      - name: Set env for colouring
        run: |
          echo "BLUE=$(tput setaf 4)" >> $GITHUB_ENV
          echo "SGR0=$(tput sgr0)" >> $GITHUB_ENV

      - name: Create docusaurus static files
        env:
          TERM: xterm-color
        run: |
          echo "- ${BLUE}Create a clean docusaurus install${SGR0}"
          rm -R pact-examples
          npx create-docusaurus@latest pact-examples classic
          rm -R pact-examples/blog pact-examples/docs/tutorial* pact-examples/docs/intro.md
          echo "- ${BLUE}Copy the output from running the examples${SGR0}"
          cp -R output pact-examples/docs
          cp -R README.md pact-examples/docs/pact-examples.md
          echo "- ${BLUE}Replace some of the default docusaurus config with our own${SGR0}"
          cp docusaurus/docusaurus.config.js pact-examples/docusaurus.config.js
          cp docusaurus/HomepageFeatures/index.js pact-examples/src/components/HomepageFeatures/index.js
          cp docusaurus/pages/index.js pact-examples/src/pages/index.js
          cd pact-examples
          echo "- ${BLUE}Build the docusaurus files. TODO: what for? What do we need for deploy and when?${SGR0}"
          npx docusaurus build

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          add: 'pact-examples'
